@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

.center-view {
  margin: 10px;
}
